.intro {
  background: #041c82;
  background: -webkit-gradient(linear, left top, left bottom, from(#041c82), color-stop(65%, #00122b), to(#440784));
  background: linear-gradient(to bottom, #041c82 0%, #00122b 65%, #440784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#041c82", endColorstr="#440784",GradientType=0 );
  padding: 40px 0px;
}

.intro h1 {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
}

.intro h1 span {
  display: block;
}

.intro h2 {
  text-align: center;
  font-weight: normal;
  font-size: 32px;
}

.intro .image-container {
  padding-top: 40px;
  max-width: 480px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .intro {
    background: #041c82;
    background: linear-gradient(45deg, #041c82 0%, #00122b 65%, #440784 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#041c82", endColorstr="#440784",GradientType=1 );
  }
  .intro .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
  }
  .intro h1 {
    text-align: left;
    font-size: 50px;
    margin-top: 0px;
  }
  .intro h2 {
    text-align: left;
    font-size: 38px;
    margin-bottom: 0px;
  }
  .intro .image-container {
    padding-top: 0px;
    max-width: none;
  }
}
